POSTGRES_DB=ieum_exp
POSTGRES_USER=ieum
POSTGRES_PASSWORD=반드시_긴_무작위_비밀번호로_변경
INDEX_INTERVAL_MS=3000
IEUM_MANAGER_ADMIN_TOKEN=최소_32자_이상의_무작위_관리자_토큰
JWT_SECRET=AAH와_동일한_JWT_SECRET
IEUM_MANAGER_TRUST_PROXY=1
IEUM_VOUCHER_PRIVATE_KEY=
IEUM_VOUCHER_PUBLIC_URL=https://iem.aah.name
IEUM_VOUCHER_RPC_URL=https://irpc.aah.name
IEUM_VOUCHER_EXPLORER_URL=https://iem.aah.name/tx/
IEUM_VOUCHER_CODE_PEPPER=32자_이상의_별도_무작위_비밀값
